.Searching {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  background-color: #e5e5e5;
}
h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
p {
  text-align: center;
  margin-bottom: 30px;
}
input {
  display: block;
  margin: 0 auto;
  width: 350px;
}
